@import url('https://fonts.cdnfonts.com/css/helvetica-2');

html {
    font-family: Helvetica, sans-serif;
    padding: 2.5em;
}

h1,
ul li {
    display: inline-block;
    padding: 1em;

}

nav a {
    margin: 0.1em;
    color: rgb(115, 207, 115);
    text-decoration: none;
}

nav {
    display: inline-block;

}