@import url('https://fonts.cdnfonts.com/css/helvetica-2');
@import url('https://fonts.cdnfonts.com/css/georgia');

html {
    font-family: Helvetica, sans-serif;
    line-height: 1.5;
}

h2 {
    font-family: Georgia, serif;
    line-height: 1.2;
}


section {
    display: flex;
    justify-content: space-between;
    max-width: 70vw;
}