body{
    display: flex;
}

.gallery{
    display: flex;
}

li{
    border: 10px solid black;
    display: flex;
    margin: 2em;
}

ul{
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-grow: 4;
}

